<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/metro-all.min.css">
    <link rel="stylesheet" href="../static/styles.css">
    <title>FlaskApp</title>
</head>
<body>
    
<h1>Flask Desktop Application</h1>



<a href="\home" class="button">Go home</a>
<a href="\crawl" class="button">Crawling</a>
<a href="\visualize_json" class="button">Visualize JSON</a>
<a href="\crawl_motorcycles" class="button">crawl for motorcycles</a>
<a href="\crawl_motorcycles_dirty" class="button">crawl dirty motorcycles</a>
<a href="\crawl_motorcycles_dirty_2" class="button">crawl dirty motorcycles 2</a>
<a href="\scrapy_spider_2" class="button">scrapy spider 2</a>



<script src="../static/jquery-3.4.1.min.js"></script>
<!--<script src="../static/metro.min.js"></script> -->
<script src="static/scripts.js"></script>


</body>
</html>