<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/metro-all.min.css">
    <link rel="stylesheet" href="../static/styles.css">
    <title>FlaskApp</title>
</head>
<body>

<!---->
<h1>Home</h1>
<a href="\" class="button">Go back</a>
<a href="\get_json" class="button">Get Json</a>


<script src="../static/jquery-3.4.1.min.js"></script>
<script src="../static/metro.min.js"></script>
<script src="../static/scripts.js"></script>
<script src="../static/home.js"></script>


<!-- React -->
<div id="like_button_container"></div>
 <!-- Load React. -->
  <!-- Note: when deploying, replace "development.js" with "production.min.js". -->
  <script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
  <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>

  <!-- Load our React component. -->
  <script src="react_app.js"></script>

<!---->

</body>
</html>